body{
    background-color: #1c242c;
}

nav.navbar {
    background-image: url(/assets/img/fondo_index.jpg);
    background-color: #1c242c;
    padding: 10px 0; /* Ajustar el padding para móviles */
}

/* Logo más pequeño en móviles */
.navbar-brand {
    font-size: 2rem; /* Tamaño reducido en móviles */
    margin-left: 0; /* Ajuste de margen en móviles */
    color: #ffbf53;
    margin-left: -80px;
    padding-left: 80px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.1);
    color: #94743e;
}

/* Ajustes del menú */
.navbar-nav .nav-link {
    font-size: 1rem; /* Reducir el tamaño de los enlaces en móviles */
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffbf53;
    transform: translateY(-3px);
}

.navbar {
    padding-left: 15px;
}

.nav-icon i {
    padding-right: 40px; /* Reducir el espacio entre iconos */
    font-size: 1.3rem; /* Tamaño reducido */
    color: #ffbf53;
    transition: color 0.3s ease;
}

.nav-icon i:hover {
    color: #94743e;
}

.input-group-text.bg-success:hover {
    background-color: #005f3f;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .nav-icon i {
        font-size: 1.2rem;
        padding-right: 15px;
    }
}